[Unit]
Description=EoIP tunnel - %I
Documentation=https://github.com/bbonev/eoip
Documentation=https://wiki.mikrotik.com/wiki/Manual:Interface/EoIP
Wants=network-online.target
After=network-online.target
 
[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/conf.d/%p
EnvironmentFile=-/etc/conf.d/%p-%I
ExecStart=/usr/lib/%p/%p-iface.sh %I start
ExecStop=/usr/lib/%p/%p-iface.sh %I stop

[Install]
WantedBy=multi-user.target
DefaultInstance=eoip
